/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #b9b6b6;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: rgb(116, 116, 116);
    color: #000000;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 10;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text content inside the main */
}

/* Section Styling */
section {
    margin-bottom: 2rem; /* Add spacing between sections */
}

h2 {
    color: #000000;
    margin-bottom: 1rem;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin-bottom: 0.5rem;
}

input, button {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkblue;
}

/* Expense List Styling */
#expense-list {
    margin-top: 2rem;
}

ul#expenses {
    list-style-type: none;
    padding: 0;
}

ul#expenses li {
    background-color: #f5f5f5;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
}

ul#expenses li span {
    font-weight: bold;
    color: #333;
}
